body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

form {
    background: white;
    padding: 20px;
    width: 350px;
    margin: 30px auto;
    border-radius: 8px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button:disabled {
    background-color: #ccc;
}
small {
    color: red;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}
